body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background-color: #be3144;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-link {
  color: white;
  text-decoration: none;
  float: right;
  width: 100px;
  font-size: 25px;
  padding: 15.5px 15.5px;
  text-align: center;
}
#navbar a:hover {
  background-color: #45567d;
}
#welcome-div {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #000;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#welcome-div h1 {
  margin: 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 42px;
}
#welcome-div p {
  color: #be3144;
  font-style: italic;
  font-size: 35px;
  margin: 0;
}
#projects {
  background: #45567d;
  width: 100%;
  text-align: center;
}
#projects h1 {
  margin: 0px auto;
  color: white;
  padding-top: 70px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: 40px auto;
}

.caption-container {
  height: 15%;
}

.flex-container-links {
  margin: 10px;
  text-align: center;
  width: 30vw;
  height: 30vw;
  background-color: black;
}
.flex-container-links p {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.image-container {
  background-position: center;
  height: 85%;
  background-repeat: no-repeat;
  background-size: cover;
}

#tribute-img {
  background-image: url(../img/tribute.jpg);
}
#map-img {
  background-image: url(../img/map.jpg);
}
#calc-img {
  background-image: url(../img/calc.png);
}
#tic-game-img {
  background-image: url(../img/tic-tac-toe.png);
}
#random-img {
  background-image: url(../img/random-quote-machine.png);
}
#wiki-img {
  background-image: url(../img/wiki.png);
}
form {
  text-align: center;
}
#btn-center {
  width: 200px;
  height: 45px;
  border: none;
  color: white;
  background: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
}
#btn-center:hover {
  background-color: #be3144;
  transition: width 2s;
  box-shadow: 0 12px 16px 0 rgba(231, 225, 225, 0.24),
    0 17px 50px 0 rgba(224, 217, 217, 0.19);
  margin-left: 10px;
}
#information {
  background: #303841;
  width: 100%;
  text-align: center;
  min-height: 450px;
  border-bottom: 4px solid #be3144;
}
.info-container {
  margin-top: 0px;
  padding: 100px;
}
.info-container h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  color: white;
  font-family: "Raleway', sans-serif";
}
.info-container p {
  margin: 0;
  font-style: italic;
  font-size: 25px;
  color: white;
}
.flex-container-footer {
  display: block;
}
.fb-link {
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  transform: scale(0.8);
  transition: transform 1s;
  color: white;
  font-size: 20px;
}

.fb-link:hover {
  transform: scale(1);
}
.flex-container-footer a {
  text-decoration: none;
  color: white;
}

.flex-container-footer span {
  padding-left: 5px;
  color: white;
}
#footer {
  display: block;
  background: #303841;
  width: 100%;
  min-height: 100px;
  margin: 0;
}
.footer-div {
  color: white;
  font-size: 18px;
  text-align: center;
}
.footer-div p {
  padding-top: 20px;
  font-size: 20px;
  margin: 0;
}
.footer-div i {
  padding-right: 10px;
}
.footer-div span {
  padding-top: 36px;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .flex-container-links {
    width: 40vw;
    height: 40ww;
  }
}
@media only screen and (max-width: 620px) {
  #navbar {
    justify-content: center;
  }
  .info-container h1 {
    font-size: 50px;
  }
  .flex-container-links {
    width: 90vw;
    height: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .info-container {
    padding: 65px;
  }
  .fb-link {
    display: block;
    padding: 0;
  }
}
